@charset "UTF-8";
/*NAVBAR*/
/*INDEX*/
/*footer */
/*Seccion nosotros*/
/*Seccion servicios*/
/* ANIMACION CARDS SECCION SERVICIOS */
/*SECCION SERVICIOS */
/*SECCION NOVEDADES */
/*SECCION NOSOTROS */
/*SECCION CONTACTO */
/*BANNER*/
/*SECCION FAQ*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*NAVBAR BOOTSTRAP */
.navbar-custom {
  background-color: #004e9b;
}
.navbar-custom .navbar-nav .nav-link {
  color: #fff;
  padding: 14px 20px;
}
.navbar-custom .navbar-nav .nav-link:hover {
  background-color: #0f5eae;
}
.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.banner {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 61, 142, 0.526);
  z-index: 1;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}
.banner h1 {
  position: absolute;
  top: 50%;
  left: 150px;
  transform: translateY(-50%);
  color: white;
  font-size: 50px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0; /* Inicialmente invisible */
  animation: fadeIn 1s ease-in forwards;
  z-index: 2;
}

/* Custom Block */
.custom-block {
  height: 50vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.faq-title {
  margin-bottom: 50px;
  font-size: 25px;
  color: #333;
  text-align: center;
}

.faq-section {
  padding: 150px;
  display: flex;
  justify-content: center;
}
.faq-section .faq-container {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}
.faq-section .faq-container .faq-item {
  margin-bottom: 10px;
}
.faq-section .faq-container .faq-item .faq-question {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.faq-section .faq-container .faq-item .faq-question .arrow {
  font-size: 1.2em;
  transition: transform 0.3s ease;
}
.faq-section .faq-container .faq-item .faq-answer {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  display: none;
  margin-top: 5px;
}
.faq-section .faq-container .faq-item.open .faq-answer {
  display: block;
}
.faq-section .faq-container .faq-item.open .faq-question .arrow {
  transform: rotate(180deg);
}

/* FOOTER para todos */
footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  font-size: 15px;
  color: #6c757d;
  border-top: #e9ecef;
}

.custom-block {
  height: auto;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

/*SECCION NOSOTROS*/
/* SECCION NOSOTROS */
.img-custom {
  width: 700px;
  object-fit: cover;
  /* Usando el mixin para el tamaño de la imagen */
}

.section-grey {
  background-color: #f0f0f0;
  padding: 40px 20px;
  border-radius: 10px;
  max-width: 700px;
  margin: 0 auto; /* Para centrar */
  /* Usando el mixin para la sección */
}
.section-grey .img-custom {
  width: 700px;
  object-fit: cover;
}

.carousel-custom img {
  width: 100%;
  object-fit: auto;
  /* Usando el mixin para el tamaño de la imagen del carrusel */
}

/* Sección Servicios */
.servi-section {
  padding: 150px 20px;
  background-color: #f9f9f9;
  text-align: center;
}
.servi-section h2 {
  margin-bottom: 80px;
  font-size: 28px;
  color: #333;
}

.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  max-width: 1200px;
  margin: 0 auto;
}
.grid-container .servi-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}
.grid-container .servi-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.grid-container .servi-card h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.grid-container .servi-card p {
  font-size: 1rem;
  line-height: 1.5;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 95px;
}

.whatsapp-button {
  background-color: #3578e5;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}
.whatsapp-button:hover {
  background-color: #2859a6;
  color: #fff;
}

/* Sección de Clientes */
.clientes-seccion {
  padding: 150px 20px;
  background-color: #f2f2f2;
  text-align: center;
}
.clientes-seccion h2 {
  margin-bottom: 80px;
  font-size: 28px;
  color: #333;
}

.clientes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.clientes-grid .clientes-category {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}
.clientes-grid .clientes-category img {
  max-width: 80px;
  margin-bottom: 15px;
}
.clientes-grid .clientes-category h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.clientes-grid .clientes-category p {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

/* SECCION NOVEDADES */
/* Sección Conoce Nuestro Canal */
.canal-section {
  padding: 130px;
  background-color: #fff;
  text-align: center;
}
.canal-section .section-title {
  font-size: 35px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}
.canal-section .youtube-container {
  background-color: #f2f2f2;
  padding: 20px 100px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
}
.canal-section .youtube-container .video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* Mantiene una proporción de 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background-color: #000;
  border-radius: 8px;
  margin-bottom: 20px;
}
.canal-section .youtube-container .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.canal-section .description-container {
  font-size: 22px;
  color: #333;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
.canal-section .description-container .section-description {
  margin-top: 75px;
}

.info-block {
  background-color: #3578e5;
  color: rgb(255, 255, 255);
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px 0;
  letter-spacing: 1px;
}
.info-block p {
  margin: 0;
}

/* SECCION CONTACTO - FORMULARIO */
.contact-section {
  background-color: #dbdbdb;
  padding: 150px;
  text-align: center;
}
.contact-section .contact-tittle {
  justify-content: center;
}
.contact-section .contact-tittle h1 {
  margin-bottom: 30px;
  font-size: 2em;
  color: #333;
}
.contact-section .contact-tittle p {
  margin-bottom: 30px;
  font-size: 1em;
  color: #333;
}

.whatsapp-form label {
  display: block;
  margin-bottom: 5px;
  color: #000000;
}
.whatsapp-form input,
.whatsapp-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 14px;
}
.whatsapp-form button {
  background-color: #255fd3;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
.whatsapp-form button:hover {
  background-color: #02c328;
}

/* MEDIAQUERIES CON ANCHO 767PX */
/* Navbar */
@media (max-width: 767px) {
  .navbar-img {
    height: 80px; /* Ajusta el tamaño del logo en dispositivos móviles */
  }
  .navbar-nav {
    text-align: center;
  }
  .navbar-nav .nav-item {
    margin: 0; /* Ajusta el margen de los elementos de navegación */
  }
  .navbar-nav .nav-link {
    padding: 10px; /* Ajusta el padding para mejor usabilidad en móviles */
    font-size: 14px; /* Ajusta el tamaño de la fuente */
  }
}
/* Banner */
@media (max-width: 767px) {
  .banner {
    height: 30vh; /* Ajusta la altura del banner en móviles */
  }
  .banner h1 {
    font-size: 24px; /* Ajusta el tamaño de la fuente en móviles si es necesario */
    left: 50px; /* Ajusta la posición horizontal del texto */
    bottom: 60px; /* Ajusta la posición vertical del texto */
  }
}
/* Sección Nosotros */
@media (max-width: 767px) {
  p {
    font-size: 10px;
  }
}
/* Sección Novedades */
@media (max-width: 767px) {
  .canal-section .section-title {
    font-size: 13px;
  }
  .canal-section .youtube-container {
    padding: 40px 40px;
  }
}
/* Sección Servicios */
@media (max-width: 767px) {
  .servi-section {
    padding: 150px 20px;
    background-color: #f9f9f9;
    text-align: center;
  }
  .servi-section h2 {
    font-size: 24px;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* Cambia la cantidad de columnas a 2 en móviles */
    grid-template-rows: 180px 180px 180px;
    gap: 20px;
  }
  .grid-container .servi-card h3 {
    font-size: 13px; /* Ajusta el tamaño del texto */
  }
  .grid-container .servi-card p {
    font-size: 10px; /* Ajusta el tamaño del texto del párrafo */
  }
}
/* Sección Clientes */
@media (max-width: 767px) {
  .clientes-seccion {
    padding: 120px 20px; /* Ajusta el padding de la sección */
  }
  .clientes-seccion .clientes-seccion h2 {
    font-size: 24px; /* Ajusta el tamaño de la fuente */
    margin-bottom: 80px; /* Ajusta el margen inferior */
  }
  .clientes-grid {
    grid-template-columns: repeat(1, 1fr); /* Cambia la cantidad de columnas a 1 en móviles */
  }
  .clientes-grid .clientes-category {
    padding: 10px; /* Reduce el padding de las tarjetas */
  }
  .clientes-grid .clientes-category .clientes-category h3 {
    font-size: 1.2rem; /* Ajusta el tamaño del texto */
  }
  .clientes-grid .clientes-category .clientes-category p {
    font-size: 0.875rem; /* Ajusta el tamaño del texto del párrafo */
  }
}
/* Sección Contacto */
@media (max-width: 767px) {
  .contact-section {
    padding: 80px 20px; /* Ajusta el padding de la sección */
  }
  .contact-tittle h1 {
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente del título */
  }
  .contact-tittle p {
    font-size: 1rem; /* Ajusta el tamaño del texto del párrafo */
  }
  .whatsapp-form input,
  .whatsapp-form textarea {
    font-size: 14px; /* Ajusta el tamaño de la fuente en el formulario */
  }
  .whatsapp-form button {
    padding: 10px 20px; /* Ajusta el padding del botón */
    font-size: 14px; /* Ajusta el tamaño de la fuente del botón */
  }
}
/* MEDIAQUERIES CON ANCHO 414px */
@media (max-width: 414px) and (max-height: 896px) {
  /* Navbar */
  .navbar-custom {
    background-color: #004e9b;
  }
  .navbar-img {
    height: 80px; /* Ajusta el tamaño del logo en dispositivos móviles */
  }
  .navbar-nav {
    text-align: center;
  }
  .navbar-nav .nav-item {
    margin: 0; /* Ajusta el margen de los elementos de navegación */
  }
  .navbar-nav .nav-link {
    padding: 10px; /* Ajusta el padding para mejor usabilidad en móviles */
    font-size: 14px; /* Ajusta el tamaño de la fuente */
  }
}
@media (max-width: 414px) and (max-height: 896px) {
  /* Banner */
  .banner {
    height: 250px; /* Ajusta la altura del banner en móviles */
  }
  .banner h1 {
    font-size: 25px; /* Ajusta el tamaño de la fuente */
    font-weight: 500;
    left: 30px; /* Ajusta la posición horizontal del texto */
    bottom: 40px; /* Ajusta la posición vertical del texto */
  }
}
/* Sección Servicios */
@media (max-width: 414px) and (max-height: 896px) {
  .servi-section {
    padding: 90px 15px; /* Ajusta el padding */
    background-color: #f9f9f9;
    text-align: center; /* Centra el texto */
  }
  .servi-section h2 {
    font-size: 20px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 160px 160px 160px;
    gap: 15px;
    justify-content: center;
  }
  .servi-card {
    padding: 10px; /* Padding dentro de cada tarjeta */
    box-sizing: border-box; /* Asegura que el padding no afecte al ancho total */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido dentro de la tarjeta */
  }
  .servi-card img {
    width: 20px; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantiene la proporción */
  }
  .servi-card h3 {
    font-size: 12px; /* Ajusta el tamaño del texto */
    text-align: center; /* Centra el texto */
    margin-bottom: 5px;
  }
  .servi-card p {
    font-size: 11px; /* Ajusta el tamaño del texto del párrafo */
    text-align: center; /* Centra el texto */
  }
  .whatsapp-button {
    font-size: 11px;
  }
}
/* Sección Clientes */
@media (max-width: 414px) and (max-height: 896px) {
  .clientes-seccion {
    padding: 100px 15px; /* Ajusta el padding */
  }
  .clientes-seccion h2 {
    font-size: 20px; /* Ajusta el tamaño de la fuente */
    margin-bottom: 60px; /* Ajusta el margen inferior */
  }
  .clientes-grid {
    grid-template-columns: repeat(1, 1fr); /* 1 columna en móviles */
    grid-template-rows: 160px 160px;
    gap: 15px;
    justify-content: center;
  }
  .clientes-grid .clientes-category {
    padding: 20px; /* Ajusta el padding de las tarjetas */
  }
  .clientes-grid .clientes-category img {
    width: 28px; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantiene la proporción */
  }
  .clientes-grid .clientes-category h3 {
    font-size: 12px; /* Ajusta el tamaño del texto */
    text-align: center; /* Centra el texto */
  }
  .clientes-grid .clientes-category p {
    font-size: 11px; /* Ajusta el tamaño del párrafo */
  }
}
/* Sección Novedades */
@media (max-width: 414px) and (max-height: 896px) {
  .canal-section {
    padding: 50px 20px;
  }
  .canal-section .section-title {
    font-size: 18px; /* Ajusta el tamaño del título */
  }
  .canal-section .youtube-container {
    padding: 40px 55px; /* Ajusta el padding del contenedor de YouTube */
  }
  .canal-section .description-container {
    margin-top: 75px;
  }
  .canal-section .description-container .section-description p {
    font-size: 10px;
  }
}
/* Sección preguntas frecuentes */
.faq-title {
  margin-bottom: 50px;
  font-size: 20px;
  text-align: center;
}

.faq-section {
  padding: 50px 10px;
  display: flex;
  justify-content: center;
}
.faq-section .faq-container {
  width: 100%;
  max-width: 800px;
  border-radius: 5px;
  padding: 30px 20px;
}
.faq-section .faq-container .faq-item .faq-question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 10px;
}
.faq-section .faq-container .faq-item .faq-question .arrow {
  font-size: 14px;
  transition: transform 0.3s ease;
}
.faq-section .faq-container .faq-item .faq-answer {
  display: none;
  margin-top: 5px;
}
.faq-section .faq-container .faq-item.open .faq-answer {
  display: block;
}
.faq-section .faq-container .faq-item.open .faq-question .arrow {
  transform: rotate(180deg);
}

/* Sección Contacto */
@media (max-width: 414px) and (max-height: 896px) {
  .contact-section {
    padding: 100px 30px; /* Ajusta el padding */
  }
  .contact-section .contact-tittle h1 {
    font-size: 20px; /* Ajusta el tamaño del título */
  }
  .contact-section .contact-tittle p {
    font-size: 15px; /* Ajusta el tamaño del párrafo */
    margin-top: 8px;
  }
  .whatsapp-form input,
  .whatsapp-form textarea {
    width: 100%;
    padding: 5px 19px;
    margin-bottom: 15px;
    font-size: 10px; /* Ajusta el tamaño de los campos */
  }
  .whatsapp-form button {
    margin-top: 30px;
    padding: 5px 19px; /* Ajusta el padding del botón */
    font-size: 10px; /* Ajusta el tamaño del texto del botón */
  }
}
/* ANIMACION FADE IN PARA BANNERS */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes scale-up {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
@keyframes shadow-expand {
  from {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  to {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
}
.card-hover-effect, .grid-container .servi-card, .clientes-grid .clientes-category {
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.card-hover-effect:hover, .grid-container .servi-card:hover, .clientes-grid .clientes-category:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=style.css.map */
