body {
    font-family: 'Roboto';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*NAVBAR BOOTSTRAP */
.navbar-custom {
    background-color: #004e9b; /* Color de fondo */
}

.navbar-custom .navbar-nav .nav-link {
    color: white; /* Color de los enlaces */
    padding: 14px 20px;
}

.navbar-custom .navbar-nav .nav-link:hover {
    background-color: #575757; /* Color de fondo al pasar el ratón */
}

/* Cambiar color del icono hamburguesa de Bootstrap */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

/*SECCION INICIO */

.logo {
    background-color: #004e9b;
}



/*bannners*/
.banner {
    position: relative;
    width: 100%;
    height: 80vh; /* Ajusta este valor según el alto deseado del banner */
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene la imagen centrada y recortada para llenar el contenedor */
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 61, 142, 0.526); /* Cambia este color y nivel de transparencia según sea necesario */
    z-index: 1;
}

.banner h1 {
    position: absolute;
    top: 50%;
    left: 150px;
    transform: translateY(-50%);
    color: white;
    font-size: 50px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0; /* Inicialmente invisible */
    animation: fadeIn 1s ease-in forwards; /* Aplicar la animación de desvanecimiento */
    z-index: 2; /* Asegura que el texto esté por encima del color transparente */
}

@keyframes fadeIn {
    to {
        opacity: 1; /* Cambia la opacidad a 1 para que sea visible */
    }
}

.custom-block {
    height: 50vh; /* Ajusta este valor para controlar el tamaño del bloque */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}
    



/*SECCION NOSOTROS*/


.img-custom {
    width: 700px; /* Ancho de la imagen */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsión */
}



.section-grey {
    background-color: #f0f0f0; /* Fondo gris claro */
    padding: 40px 20px; /* Espacio alrededor del contenido */
    border-radius: 10px; /* Bordes redondeados */
    max-width: 700px; /* Ancho máximo de la sección */
    margin: 0 auto; /* Centrar la sección */
}
.carousel-custom img {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
}







/*SECCION SERVICIOS */
/*CARDS CON GRILLA */ 

.servi-section {
    padding: 80px 20px; /* Mantiene el padding para la sección más larga */
    background-color: #f9f9f9;
    text-align: center;
}

.servi-section h2 {
    margin-bottom: 60px; /* Aumenta el margen inferior para dar más espacio */
    font-size: 2.5rem; /* Ajusta el tamaño del texto si es necesario */
    color: #333;
}

.grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr); /* Configura 3 columnas fijas */
    grid-template-rows: repeat(3, auto); /* Configura 3 filas */
    max-width: 1200px;
    margin: 0 auto;
}

.servi-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.servi-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.servi-card h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.servi-card p {
    font-size: 1rem;
    line-height: 1.5;
}

.button-container {
    margin-top: 30px;
}

.whatsapp-button {
    background-color: #3578e5; /* Color del botón azul */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.whatsapp-button:hover {
    background-color: #2859a6; /* Color más oscuro para el efecto hover */
    color: #fff;
}



.clientes-seccion {
    padding: 60px 20px; /* Espaciado alrededor de la sección */
    background-color: #f2f2f2; /* Fondo gris claro para la sección */
    text-align: center;
}

.clientes-seccion h2 {
    margin-bottom: 40px; 
    font-size: 2.5rem; 
    color: #333;
}

.clientes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajuste automático de columnas */
    gap: 30px; /* Espacio entre tarjetas */
    max-width: 1200px; 
    margin: 0 auto; 
}

.clientes-category {
    background-color: #fff; /* Fondo blanco para cada tarjeta */
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    text-align: center;
}

.clientes-category img {
    max-width: 80px; /* Tamaño máximo de la imagen */
    height: auto; /* Mantener la relación de aspecto */
    margin-bottom: 15px; /* Espacio debajo de la imagen */
}

.clientes-category h3 {
    font-size: 1.5rem; /* Tamaño del texto del encabezado */
    margin-bottom: 10px; /* Espacio debajo del encabezado */
}

.clientes-category p {
    font-size: 1rem; /* Tamaño del texto del párrafo */
    color: #333; /* Color del texto */
    line-height: 1.5; /* Espaciado entre líneas */
}

/*SECCION NOVEDADES */
/* Sección Conoce Nuestro Canal */
.canal-section {
    background-color: #fff; /* Fondo blanco para la sección */
    padding: 150px; /* Espaciado alrededor del contenido */
    text-align: center; /* Centrar el texto */
}

.section-title {
    font-size: 35px; /* Tamaño del título */
    color: #333; /* Color del título */
    margin-bottom: 20px; /* Espacio debajo del título */
}

.youtube-container {
    background-color: #f2f2f2; /* Fondo gris para el contenedor */
    padding: 20px 100px;
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    border-radius: 8px; /* Bordes redondeados */
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* Mantiene una proporción de 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background-color: #000; /* Fondo negro para el contenedor del video */
    border-radius: 8px; /* Bordes redondeados para el contenedor del video */
    margin-bottom: 20px; /* Espacio debajo del video */
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-description {
    font-size: 1.2rem; /* Tamaño del texto de la descripción */
    color: #333; /* Color del texto */
    max-width: 800px; /* Ancho máximo de la descripción */
    margin: 0 auto; /* Centrar la descripción horizontalmente */
}



/*SECCION PREGUNTAS FRECUENTES */

/* Estilos para la sección de preguntas frecuentes */
.faq-title {
    margin-bottom: 50px; /* Espacio debajo del título */
    font-size: 25px; /* Tamaño del texto del título */
    color: #333; /* Color del texto */
    text-align: center;
}

.faq-section {
    padding: 150px; /* Ajusta el padding según tus necesidades */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
}

.faq-container {
    width: 100%;
    max-width: 800px; /* Ancho máximo de la sección */
    background-color: #fff; /* Fondo blanco */
    border-radius: 5px; /* Bordes redondeados */
    padding: 20px; /* Espacio interno */
}

.faq-item {
    margin-bottom: 10px; /* Espacio entre los ítems */
}

.faq-question {
    background-color: #f9f9f9; /* Fondo blanco o color claro para las preguntas */
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espacio interno */
    width: 100%; /* Ancho completo del contenedor */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-align: left;
}

.faq-answer {
    display: none; /* Ocultar la respuesta por defecto */
    padding: 10px;
    background-color: #f0f0f0; /* Fondo gris claro para las respuestas */
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    margin-top: 5px; /* Espacio superior entre la pregunta y la respuesta */
}

.faq-item.open .faq-answer {
    display: block; /* Mostrar la respuesta cuando el ítem está abierto */
}

.arrow {
    font-size: 1.2em; /* Tamaño de la flecha */
    transition: transform 0.3s ease; /* Animación de la flecha */
}

.faq-item.open .arrow {
    transform: rotate(180deg); /* Rotar la flecha cuando el ítem está abierto */
}


/*SECCION CONTACTO - FORMULARIO */


.contact-section {
    background-color: #c1c7d0;
    padding: 150px;
    text-align: center;
}

.contact-tittle {
    justify-content: center;

}

.contact-tittle h1 {
    margin-bottom: 30px;
    font-size: 2em;
    color: #333;   
}
.contact-tittle p {
    margin-bottom: 30px;
    font-size: 1em;
    color: #333;
}


.whatsapp-form label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

.whatsapp-form input,
.whatsapp-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
}

.whatsapp-form button {
    padding: 10px 30px;
    background-color: #255fd3;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.whatsapp-form button:hover {
    background-color: #128c7e;
}

/* FOOTER para todos */
footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    color: #6c757d;
    border-top: 1px solid #e9ecef;
}




/* MEDIAQUERIES */
/* Navbar */
@media (max-width: 767px) {
    .navbar-custom {
        background-color: #004e9b;
    }

    .navbar-img {
        height: 80px; /* Ajusta el tamaño del logo en dispositivos móviles */
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin: 0; /* Ajusta el margen de los elementos de navegación */
    }

    .navbar-nav .nav-link {
        padding: 10px; /* Ajusta el padding para mejor usabilidad en móviles */
        font-size: 14px; /* Ajusta el tamaño de la fuente */
    }
}

/* Banner */
@media (max-width: 767px) {
    .banner {
        height: 60vh; /* Ajusta la altura del banner en móviles */
    }

    .banner h2 {
        font-size: 36px; /* Ajusta el tamaño de la fuente del texto del banner */
        left: 20px; /* Ajusta la posición horizontal del texto */
    }
}

/* Sección Servicios */
@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* Cambia la cantidad de columnas a 2 en móviles */
    }

    .servi-card {
        padding: 10px; /* Reduce el padding de las tarjetas */
    }

    .servi-card h3 {
        font-size: 1rem; /* Ajusta el tamaño del texto */
    }

    .servi-card p {
        font-size: 0.875rem; /* Ajusta el tamaño del texto del párrafo */
    }
}

/* Sección Clientes */
@media (max-width: 767px) {
    .clientes-seccion {
        padding: 30px 10px; /* Ajusta el padding de la sección */
    }

    .clientes-seccion h2 {
        font-size: 2rem; /* Ajusta el tamaño de la fuente */
        margin-bottom: 20px; /* Ajusta el margen inferior */
    }

    .clientes-grid {
        grid-template-columns: repeat(1, 1fr); /* Cambia la cantidad de columnas a 1 en móviles */
    }

    .clientes-category {
        padding: 10px; /* Reduce el padding de las tarjetas */
    }

    .clientes-category h3 {
        font-size: 1.2rem; /* Ajusta el tamaño del texto */
    }

    .clientes-category p {
        font-size: 0.875rem; /* Ajusta el tamaño del texto del párrafo */
    }
}

/* Sección Contacto */
@media (max-width: 767px) {
    .contact-section {
        padding: 80px 20px; /* Ajusta el padding de la sección */
    }

    .contact-tittle h1 {
        font-size: 1.5rem; /* Ajusta el tamaño de la fuente del título */
    }

    .contact-tittle p {
        font-size: 1rem; /* Ajusta el tamaño del texto del párrafo */
    }

    .whatsapp-form input,
    .whatsapp-form textarea {
        font-size: 14px; /* Ajusta el tamaño de la fuente en el formulario */
    }

    .whatsapp-form button {
        padding: 10px 20px; /* Ajusta el padding del botón */
        font-size: 14px; /* Ajusta el tamaño de la fuente del botón */
    }
}