/* SECCION CONTACTO - FORMULARIO */
.contact-section {
    background-color: $background-color;
    padding: 150px;
    text-align: center;

    .contact-tittle {
        justify-content: center;

        h1 {
            @include margin-bottom($margin-bottom);
            @include font-size($font-size-large);
            color: $text-color-dark;
        }
        
        p {
            @include margin-bottom($margin-bottom);
            @include font-size($font-size-medium);
            color: $text-color-dark;
        }
    }
}

.whatsapp-form {
    label {
        display: block;
        margin-bottom: 5px;
        color: $text-color-light;
    }

    input,
    textarea {
        width: 100%;
        @include padding-form($padding-form);
        margin-bottom: 15px;
        @include font-size($font-size-small);
    }

    button {
        @include button-style($button-bg-color, $button-bg-color-hover, $padding-form 30px, $border-radius);
        @include font-size($font-size-button);
    }
}
