/*SECCION NOSOTROS*/


.img-custom {
    width: $img-custom-width; /* Ancho de la imagen */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsión */
}

.section-grey {
    background-color: $section-grey-bg-color; /* Fondo gris claro */
    padding: $section-grey-padding; /* Espacio alrededor del contenido */
    border-radius: $section-grey-border-radius; /* Bordes redondeados */
    max-width: $img-custom-width; /* Ancho máximo de la sección */
    margin: 0 auto; /* Centrar la sección */

    .img-custom {
        width: $img-custom-width;
        object-fit: cover;
    }
}

.carousel-custom {
    img {
        width: $carousel-img-width;
        height: auto; /* Mantiene la proporción de la imagen */
    }
}