
  /* SECCION SERVICIOS */
  /* CARDS CON GRILLA */ 
  /* Sección de Servicios */
/* Sección Servicios */
.servi-section {
  padding: $servi-section-padding;
  background-color: $servi-section-bg-color;
  text-align: center;

  h2 {
      margin-bottom: $servi-section-h2-margin-bottom;
      font-size: $servi-section-h2-font-size;
      color: $servi-section-h2-color;
  }
}

.grid-container {
  display: grid;
  gap: $grid-gap;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  max-width: $grid-max-width;
  margin: $grid-margin;

  .servi-card {
      @include card-style(
          $servi-card-bg-color,
          $servi-card-border-color,
          $servi-card-border-radius,
          $servi-card-box-shadow,
          $servi-card-padding,
          $servi-card-text-align
      );

      // Aplica la clase de animación
      @extend .card-hover-effect;

      img {
          max-width: $servi-card-img-max-width;
          height: $servi-card-img-height;
          margin-bottom: $servi-card-img-margin-bottom;
      }

      h3 {
          font-size: $servi-card-h3-font-size;
          margin-bottom: $servi-card-h3-margin-bottom;
      }

      p {
          font-size: $servi-card-p-font-size;
          line-height: $servi-card-p-line-height;
      }
  }
}

.button-container {
  display: flex;
  justify-content: $button-container-alignment;
  margin-top: $button-container-margin-top;
}

.whatsapp-button {
  background-color: $whatsapp-button-bg-color;
  color: $whatsapp-button-color;
  padding: $whatsapp-button-padding;
  border-radius: $whatsapp-button-border-radius;
  font-weight: $whatsapp-button-font-weight;
  text-decoration: none;

  &:hover {
      background-color: $whatsapp-button-hover-bg-color;
      color: $whatsapp-button-color;
  }
}

/* Sección de Clientes */
.clientes-seccion {
  padding: $clientes-seccion-padding;
  background-color: $clientes-seccion-bg-color;
  text-align: center;

  h2 {
      margin-bottom: $clientes-seccion-h2-margin-bottom;
      font-size: $clientes-seccion-h2-font-size;
      color: $clientes-seccion-h2-color;
  }
}

.clientes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: $clientes-grid-gap;
  max-width: $clientes-grid-max-width;
  margin: $clientes-grid-margin;

  .clientes-category {
      @include card-style(
          $clientes-category-bg-color,
          $clientes-category-border-color,
          $clientes-category-border-radius,
          $clientes-category-box-shadow,
          $clientes-category-padding,
          center
      );

      // Aplica la clase de animación
      @extend .card-hover-effect;

      img {
          max-width: $clientes-category-img-max-width;
          margin-bottom: $clientes-category-img-margin-bottom;
      }

      h3 {
          font-size: $clientes-category-h3-font-size;
          margin-bottom: $clientes-category-h3-margin-bottom;
      }

      p {
          font-size: $clientes-category-p-font-size;
          line-height: $clientes-category-p-line-height;
          color: $clientes-category-p-color;
      }
  }
}