// Estilos para la sección de preguntas frecuentes
.faq-title {
    margin-bottom: 50px;
    font-size: $faq-title-font-size;
    color: $faq-title-color;
    text-align: center;
}

.faq-section {
    padding: $faq-padding;
    display: flex;
    justify-content: center;

    .faq-container {
        width: 100%;
        max-width: $faq-container-max-width;
        background-color: $faq-background-color;
        border-radius: $faq-border-radius;
        padding: $faq-padding-inner;

        .faq-item {
            margin-bottom: $faq-margin-bottom-item;

            .faq-question {
                @include faq-item-style(
                    $faq-question-bg-color,
                    $faq-border-color,
                    $faq-border-radius,
                    $faq-padding-item,
                    left // No se aplica estilo a .arrow
                );
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;

                .arrow {
                    font-size: $arrow-font-size;
                    transition: transform 0.3s ease;
                }
            }

            .faq-answer {
                @include faq-answer-style(
                    $faq-answer-bg-color,
                    $faq-border-color,
                    $faq-border-radius,
                    $faq-padding-item
                );
                display: none;
                margin-top: 5px;
            }

            &.open {
                .faq-answer {
                    display: block;
                }

                .faq-question .arrow {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
