/* FOOTER para todos */
// Estilos para el footer
footer {
    @include footer-style(
        $footer-bg-color,       // $bg-color
        $footer-padding,        // $padding
        $footer-text-align,     // $text-align
        $footer-font-size,      // $font-size
        $footer-text-color,     // $text-color
        $footer-border-color    // $border
    );
}
